.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 25px 50px;
  background-color: transparent;
  outline: 1px solid #b5b5b5;
  height: fit-content;
  max-height: 450px;
  width: fit-content;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.darkmode .hero-content {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 6px var(--accent-secondary);
}

.hero-content h1 {
  font-size: clamp(2rem, 6vw + 2vh, 5rem);
  margin: 20px;
  color: var(--accent-secondary);
}
.hero-content h2 {
  font-size: clamp(1rem, 3vw + 1vh, 2rem);
  color: var(--secondary-title);
  margin: 5px;
}
.hero-content p {
  font-size: clamp(1rem, 2vw + 1vh, 2rem);
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-p-text);
}

.btn-download {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--accent-secondary);
  color: var(--primary-bg-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn-download svg {
  fill: var(--primary-bg-color);
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.btn-download:hover {
  background-color: var(--green-btn-hover);
}

/* Darkmode */
.darkmode .hero-content h1 {
  color: var(--accent-secondary);
}
.darkmode .hero-content p {
  color: var(--secondary-p-text);
}

.darkmode .btn-download {
  background-color: var(--accent-secondary);
  color: var(--primary-bg-color);
}

.darkmode .btn-download:hover {
  background-color: var(--green-btn-hover);
}

.typewriter {
  display: flex;
  justify-content: center;
}
.typewriter h1 {
  font-family: monospace;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid;
  padding-right: 10px;
  animation: typing 0.5s steps(23) forwards, blink 0.75s step-end infinite;
}

/* Animations */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* Media queries */

@media (max-width: 850px) or (max-height: 500px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }
  .hero-content h2 {
    font-size: 1.5rem;
  }
  .hero-content p {
    font-size: 1.3rem;
  }
}
@media (max-height: 600px) {
  .hero-content h1 {
    font-size: 7vh;
  }
  .hero-content h2 {
    font-size: 4vh;
  }
  .hero-content p {
    font-size: 3vh;
  }
  .hero-content {
    height: 65vh;
    margin: 20px;
  }
  .btn-download {
    height: fit-content;
    font-size: 3vh;
    padding: 2vh;
  }
  .btn-download svg {
    width: 3vh;
    height: 3vh;
  }
}
